<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to my webpage!</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/estilos.css">
  </head>

  <body>

    <!-- Cabecalho -->
    <header>
      <h1>Welcome to my webpage!</h1>
      <%= image_tag 'banner.jpg'%>
    </header>
    <!-- Fim cabecalho -->

    <!-- conteudo -->
    <div>

      <!-- conteudo da esquerda -->
      <section class="esq">
        <p>
          In 1901 English quadricycle and bicycle maker Royal Enfield introduced
          its first motorcycle, with a 239 cc engine mounted in the front and
          driving the rear wheel through a belt. In 1898, English bicycle maker
          Triumph decided to extend its focus to include motorcycles, and by 1902,
          the company had produced its first motorcycle—a bicycle fitted with a
          Belgian-built engine. A year later, it was the largest motorcycle manufacturer
          with an annual production of over 500 units. Other British firms were Norton
          and Birmingham Small Arms Company who began motorbike production in 1902 and
          1910, respectively.
        </p>
      </section>
      <!-- Fim conteudo da esquerda -->

      <!-- conteudo da direita -->
      <section class="dir">
        <p>
          In 1901 English quadricycle and bicycle maker Royal Enfield introduced
          its first motorcycle, with a 239 cc engine mounted in the front and
          driving the rear wheel through a belt. In 1898, English bicycle maker
          Triumph decided to extend its focus to include motorcycles, and by 1902,
          the company had produced its first motorcycle—a bicycle fitted with a
          Belgian-built engine. A year later, it was the largest motorcycle manufacturer
          with an annual production of over 500 units. Other British firms were Norton
          and Birmingham Small Arms Company who began motorbike production in 1902 and
          1910, respectively.
        </p>
      </section>
      <!-- Fim conteudo da direita -->

    </div>
    <!-- Fim conteudo -->

    <!-- Rodape -->
    <footer>
<%= link_to 'about', about_path %>
